.wrapper {
  background-color: #ff6e40;
}

.result {
  font-weight: bold;

  margin: 0;
}
.score {
  color: #f5f0e1;
  font-size: 30px;
  font-weight: bolder;
}
.result-message {
  background-color: #1e3d59;
  font-size: 20px;
  font-weight: bolder;
  color: #f5f0e1;
  padding-top: 10px;
  padding-bottom: 10px;

  margin: 0;
}
